@import "tailwindcss";
@plugin "@tailwindcss/forms";
/** @config "../tailwind.config.js";

 :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} **/

/* globals.css */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

/* Styling for React Phone Number Input */
.react-tel-input .form-control {
  border: none;
  box-shadow: none;
  outline: none;
  width: 100% !important;
  font-size: 16px;
  padding: 0;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden !important;
}

.img-fluid{
  max-width: 100%;
  height: auto;
}

button {
  padding: 10px;
  border-radius: 10px;
}

.button-primary {
  background-color: #2563eb;
  color: white;
}

.hero-section {
  background-image: url("@/public/lines.png");
  background-size: cover;
}
.bottom-banner {
  background-image: url("@/public/bottom-banner.png");
  background-size: cover;
}
.subscript {
  color: var(--color-blue-400);
}

.card {
  background-color: white;
  border-radius: 10px;
}

.section {
  width: 90%;
}